body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0a1f44;
}

.logo {
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.hero {
    background: linear-gradient(rgba(10,31,68,0.8), rgba(10,31,68,0.8)),
                url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') center/cover;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-content {
    text-align: center;
    margin-bottom: 120px;
}

.btn {
    background: #00b4d8;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.about, .why, .services, .contact {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card, .service-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea, button {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #0a1f44;
    color: white;
    cursor: pointer;
}
